{% extends "gaapp/base.html" %}
{% load static %}
{% block innercontent %}
<section id="content">
    <div id="header">
        <div class="header-nav">
            <div class="menu-button"><!--<i class="fa fa-navicon"></i>--></div>
            <div class="nav">
                <ul>
                    <li class="nav-settings">
                        <div class="font-icon"><i class="fa fa-tasks"></i></div>
                    </li>
                    <li class="nav-mail">
                        <div class="font-icon">
                            <i class="fa-regular fa-envelope"></i>
                        </div>
                    </li>
                    <li class="nav-calendar">
                        <div class="font-icon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </li>
                    <li class="nav-chat">
                        <div class="font-icon">
                            <i class="fa-regular fa-comment"></i>
                        </div>
                    </li>
                    <li class="nav-profile">
                        <div class="nav-profile-image">
                            <img
                                src="{% static 'images/profile-avatar.png' %}"
                                alt="profile-img"
                                alt="profile image"
                            />
                            <div class="nav-profile-name">
                                {{ tenant_username }}<i class="fa fa-caret-down"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-header">
            <h1>Dashboard</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="widget-box sample-widget">
            <div class="content">
                <h1>Items for {{ house.name }}</h1>
                <p>Type: {{ house.house_type }}</p>
                <div class="items-list">
                    {% for item in items %}
                        <div class="item">
                            <h4>{{ item.name }}</h4>
                            <p>Quantity: {{ item.quantity }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
    </div>
</section>
{% endblock innercontent %}