{% extends "gaapp/base.html" %}
{% load static %}
{% block innercontent %}

<section id="content" style="background-color: green;">
    <div id="header">
        <div class="header-nav">
            <div class="menu-button"><!--<i class="fa fa-navicon"></i>--></div>
            <div class="nav">
                <ul>
                    <li class="nav-settings">
                        <div class="font-icon"><i class="fa fa-tasks"></i></div>
                    </li>
                    <li class="nav-mail">
                        <div class="font-icon">
                            <i class="fa-regular fa-envelope"></i>
                        </div>
                    </li>
                    <li class="nav-calendar">
                        <div class="font-icon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </li>
                    <li class="nav-chat">
                        <div class="font-icon">
                            <i class="fa-regular fa-comment"></i>
                        </div>
                    </li>
                    <li class="nav-profile">
                        <div class="nav-profile-image">
                            <img
                                src="{% static 'images/profile-avatar.png' %}"
                                alt="profile-img"
                                alt="profile image"
                            />
                            <div class="nav-profile-name">
                                {{ tenant_username }}<i class="fa fa-caret-down"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-header">
            <h1>Dashboard</h1>
            
        </div>
        {% for house in houses %}
            <div class="widget-box sample-widget">
                <div style="position: relative;">
                    {% if house.image %}
                        <img src="{{ house.image.url }}" alt="{{ house.name }}">
                    {% else %}
                        <img src="{% static 'images/default_image.jpg' %}" alt="Default Image"> 
                    {% endif %}
                    <div class="status-message {% if house.is_available %}available{% else %}not-available{% endif %}">
                        {% if house.is_available %}
                            Available
                        {% else %}
                            Not available
                        {% endif %}
                    </div>
                </div>
                <h3>{{ house.name }}</h3>
                <p class="tag">{{ house.house_type }}</p>
                {% if house.is_available %}
                    <a href="{% url 'house_items' house.id %}" class="house-btn">See House Items</a>
                {% else %}
                    <a href="#" class="house-btn disabled">See House Items</a>
                {% endif %} 
            </div>
        {% endfor %}
    </div>
   
</section>
{% endblock innercontent %}